img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Roboto Light", "Roboto Thin", serif;
}

::-webkit-scrollbar {
    width: 0.565rem;
    height: 0.565rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777777;
}

.swal-overlay {
    z-index: 100000000000 !important;
}

.swal2-container {
    z-index: 100000 !important;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}